<div class="page-header">
      <h2 id="grid">Family Members</h2>
</div>
<div class='row'>
  <div class="col-sm-6">
    <div class="panel panel-primary family-panel">
      <div class="panel-heading">
        <div class="options">
          <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-up"></i></a>
        </div>
        <h4 class="panel-title">Spouses and Children</h4>
      </div>
      <div class="panel-body spouses-children"></div>
    </div>  
  </div>
  <div class=" col-sm-6">
    <div class="panel panel-primary family-panel">
      <div class="panel-heading">
        <div class="options">
          <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-up"></i></a>
        </div>
        <h4 class="panel-title">Parents and Children</h4>
      </div>
      <div class="panel-body parents-children"></div>
    </div>  
  </div>
</div>